img {
    max-width: 100%;
    min-width: 36px;
    height: auto;
}

.mw-500 {
    display: block;
    max-width: 500px;
}

.mw-960 {
    display: block;
    max-width: 960px;
}

.mw-1200 {
    display: block;
    max-width: 1200px;
}

.mr-0-auto {
    margin: 0 auto;
}

.miw-500 {
    display: block;
    min-width: 500px;
}

.raw-html-embed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ck-widget.raw-html-embed div.raw-html-embed__preview-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ck.ck-editor__top.ck-reset_all {
    position: -webkit-sticky;
    z-index: 1000;
    position: sticky;
    top: 78px;
}

#cke_1_top {
    position: -webkit-sticky;
    z-index: 10000;
    position: sticky;
    top: 2px;
}

.sidenav {
    z-index: 5555;
}

.show {
    display: block;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
}

.notifications {
    position: fixed;
    right: 0.3rem;
    bottom: 0.3rem;
}

/* input[type="datetime-local"]::-webkit-datetime-edit, input[type="datetime-local"]::-webkit-inner-spin-button, input[type="datetime-local"]::-webkit-clear-button {
    position: relative;
}
input[type="datetime-local"]::-webkit-datetime-edit-day-field{
    color:#000;

    padding: 2px;
    order: 0;
}

input[type="datetime-local"]::-webkit-datetime-edit-month-field{
    padding: 2px;
    order: 1;
    color:#000;
}

input[type="datetime-local"]::-webkit-datetime-edit-year-field{
    padding: 2px;
    color:#000;
    order: 2;
}

input[type="datetime-local"]::-webkit-datetime-edit-hour-field{
    color:#000;
    padding: 2px;
}

input[type="datetime-local"]::-webkit-datetime-edit-minute-field{
    color:#000;
    padding: 2px;
}

input[type="datetime-local"]::-webkit-datetime-edit-second-field{
    color:#000;
    padding: 2px;
}

/* input[type="datetime-local"]::-webkit-datetime-edit-session-field{
    color:#000;
    padding: 2px;
} */
