.mw-500 {
    display: block;
    max-width: 500px
}

.raw-html-embed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ck-widget.raw-html-embed div.raw-html-embed__preview-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}