img {
    max-width: 100%;
    min-width: 36px;
    height: auto;
}

.mw-500 {
    display: block;
    max-width: 500px;
}

.mw-1200 {
    display: block;
    max-width: 1200px;
}

.mr-0-auto {
    margin: 0 auto;
}

.miw-500 {
    display: block;
    min-width: 500px;
}

.raw-html-embed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ck-widget.raw-html-embed div.raw-html-embed__preview-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ck.ck-editor__top.ck-reset_all {
    position: -webkit-sticky;
    z-index: 1000;
    position: sticky;
    top: 78px;
}

#cke_1_top {
    position: -webkit-sticky;
    z-index: 10000;
    position: sticky;
    top: 2px;
}

.sidenav {
    z-index: 5555;
}