@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #525f7f;
    --gray-color: rgb(185, 185, 185);
}

::selection {
    background-color: var(--bg-color);
    color: #fff;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, #009933 0%, #00cc00 100%);
    border-radius: 3px;
}

.form-container {
    width: 480px;
    max-width: 100%;
    border: 1px solid #ccc;
    padding: 30px 36px;
    border-radius: 15px;
    box-shadow: 2px 2px 15px #ccc;
    position: relative;
    background-color: #fff;
}

.form-container .form-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin-bottom: 38px;
}
.form-container .form-title span {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

.form-item {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    position: relative;
}

.form-item input {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    outline: 2px solid var(--gray-color);
    border: 0;
    padding: 8px 16px;
    font-size: 1.2rem;
    transition: all .3s ease;
    font-family: 'Itim', cursive;
}

.form-item input:focus {
    outline: 2px solid var(--bg-color);
}

.form-item__label {
    position: absolute;
    top: calc(50% - .8rem);
    left: 16px;
    color: var(--gray-color);
    z-index: 10;
    font-size: 1.2rem;
    user-select: none;
    pointer-events: none;
    transition: all .25s ease;
    font-family: 'Itim', cursive;
}

.form-item>input::placeholder {
    user-select: none;
    -webkit-user-select: none;
}

.form-item>input:not(:placeholder-shown) + .form-item__label,
.form-item>input:focus + .form-item__label {
    padding: 0 6px;
    top: -14px;
    background-color: #fff;
}

.form-item>input:focus + .form-item__label {
    color: var(--bg-color);
}

.btn-submit {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid var(--gray-color);
    background-color: var(--bg-color);
    color: #fff;
    font-size: 1.3rem;
    font-family: 'Itim', cursive;
    cursor: pointer;
}
.rigister {
    margin-top: 10px;
    margin-bottom: 38px;
}
.rigister p {
    color: #000;
    font-family: 'Itim', cursive;
    font-size: 1rem;
    text-align: right;
}

.rigister p a {
    margin-left: 5px;
    color: var(--bg-color);
}

.login-with {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38px;
    color: #000;
    border: 1px solid var(--gray-color);
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: 'Itim', cursive;
    user-select: none;
    -webkit-user-select: none;
    margin-bottom: 16px;
}

.login-with i {
    font-size: 1.2rem;
    margin-right: 8px;
}
.login-with img {
    width: 1rem;
    margin-right: 8px;
}

.login-with i.microsoft {
    color: #008fd1;
}

.btn-back {
    position: absolute;
    top: 14px;
    left: 16px;
}

.btn-back a {
    color: var(--gray-color);
    font-size: 2rem;
}


@media only screen and (max-width: 48em) {

    body {
        padding-top: 1.2rem;
        align-items: flex-start;
    }

    .form-container {
        width: 100%;
        border: 0;
        padding: 30px 36px;
        border-radius: 0;
        box-shadow: none;
        position: relative;
    }
}
